@font-face {
  font-family: 'Blanch';
 src: url('blanch.ttf')  format('truetype');
}

#slider {
     z-index: 5;
   }
   #slider2 {
     z-index: 4;
   }
   .round {
     z-index: 6;
   }
   #linearSlider {

     z-index: 7;
     background-color: white;
   }

   #slider .rs-range-color  {
       background-color: #17BEBB;
   }
   #slider .rs-bg-color  {
       background-color: #000000;
   }
   #slider .rs-path-color  {
       background-color: #000;

   }

   #slider .rs-border.rs-outer  {
       border: 2px dashed #999;
   }


   #slider .rs-handle  {
       background-color: #19D6D3;
       padding: 10px;
       /*border: 1px dotted transparent;*/
   }
   #slider .rs-handle.rs-focus  {
       border-color: #19D6D3;
   }
   #slider .rs-handle:after  {
       border-color: #19D6D3;
       background-color: #19D6D3;
   }
   #slider .rs-border  {
       border-color: #000;
   }

   #slider .rs-border.rs-inner  {
    border-width: 0px;
}
#slider .rs-handle  {
    background: #fff;
    margin-left: 0 !important;
}

   /*#slider .rs-seperator { border: 1px solid #19D6D3; }*/

   #slider2 .rs-border.rs-outer  {
       border: 3px dashed #999999;
   }

   #slider2 .rs-range-color  {
       background-color: #000;

   }
   #slider2 .rs-bg-color  {
       background-color: #000;
   }
   #slider2 .rs-path-color  {
       background-color: #000;

   }
   #slider2 .rs-handle  {
       background-color: #C2FF28;
       padding: 7px;
       border: 0px solid #C2FF28;
   }
   #slider2 .rs-handle.rs-focus  {
       border-color: #C2FF28;
   }
   #slider2 .rs-handle:after  {
       border-color: #C2FF28;
       background-color: #C2FF28;
   }
   #slider2 .rs-border  {
       border-color: #000;
   }
   /*#slider2 .rs-seperator { border: 1px solid #C2FF28; }*/

   #slider2 .rs-border.rs-inner  {
    border-width: 0px;
}
#slider2 .rs-handle  {
    background: #fff;
    margin-left: 0 !important;
}
   .round {
       display:block;
       width:50px;
       height:50px;
       line-height:50px;
       border: 2px solid #FFA500;
       border-radius: 50%;
       color:#333;
       text-align:center;
       text-decoration:none;
       background: #222;
       box-shadow: 0 0 3px gray;
       font-size:20px;
       font-weight:bold;
   }
   .round:focus {
       background: #999;
   }

.black {

  height:50px;
  color:#fff;
  background-color: #000;
  border-color: #111;
  border-width: 1px;
  font-family: Futura;
  font-size: 40px;

}

#zoomSlider {


}
